.navbar-inverse {
  background-color: $main-color;
  border: none;

  .navbar-collapse {
    border-color: #292a51;
    float: right;
  }

  .navbar-toggle {
    border: none;
    background-color: $second-color;
  }

  .navbar-toggle:hover {
    background-color: $second-color;
  }

  .navbar-nav {
  
    .active > a {
      background-color: $main-color;

      &:hover {
        background-color: $main-color;
        border-bottom: solid 5px $hover-color;
        transition: all 100ms ease-in-out;
      }
    }
  
    li > a {

      padding-top: 34px;
      padding-bottom: 26px;
      padding-right: 40px;
      padding-left: 40px;
      font-weight: 400;
      font-size: 18px;
    }

    .active > a:focus {
      background: linear-gradient($second-color, $main-color);
      border-bottom: solid 5px $hover-color;
      transition: all 100ms ease-in-out;
    }

  }
}

.navbar-toggle {

  .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;

    &:nth-of-type(2) {
      top: 1px;
    }

    &:nth-of-type(3) {
      top: 2px;
    }
  }

  &.active .icon-bar {

    &:nth-of-type(1) {
      top: 6px;
      transform: rotate(45deg);
    }

    &:nth-of-type(2) {
      background-color: transparent;
    }

    &:nth-of-type(3) {
      top: -6px;
      transform: rotate(-45deg);
    }
  }
}
  